<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	<ul class="nav pull-right">
	    	<li><%= link_to "About", about_path %></li>
	    	<li><%= link_to "Facebook", "http://www.facebook.com/scapeway", :target => "_blank" %></li>
	    	<li><%= link_to "Twitter",  "http://www.twitter.com/scapeway",  :target => "_blank" %></li>
	    </ul>
		</div>
	</div>
</div>